<footer class="footer">
  <div class="container footer-contact">
    <div class="col footer-location">
      <h3>LOCATION</h3>
      <p>
        72 Allen st, 3rd floor <br>
        Lower East Side <br>
        New York City, NY 10002
      </p>
      <a href="mailto:hello@halfhelix.com">hello@halfhelix.com</a>
    </div>
    <div class="col footer-jobs">
      <h3>JOIN OUR TEAM</h3>
      <p>We're hiring! <br>
      Check out our current <br>
      job listings or contact us at:
    </p>
      <a href="mailto:jobs@halfhelix.com">jobs@halfhelix.com</a>
    </div>
    <div class="col footer-new-business">
      <h3>NEW BUSINESS INQURIES</h3>
      <p>Interested in working with us? <br>
      Visit our Work With Us page <br>
      or send us an email at</p>
      <a href="mailto:biz@halfhelix.com">biz@halfhelix.com</a>
    </div>
  </div>
  <div class="container footer-signup">
    <form class="footer-form" action="index.html" method="post">
      <div class="footer-label">
        <label for="email">Sign Up For Our Newsletter</label>
      </div>
      <div class="footer-input">
        <input type="text" name="email" placeholder="Enter Your Email...">
        <input type="submit" value="Submit">
      </div>
    </form>
    <div class="footer-social">
      <ul>
        <a href=""><li>FACEBOOK</li></a>
        <a href=""><li>TWITTER</li></a>
        <a href=""><li>GITHUB</li></a>
      </ul>
    </div>
  </div>

</footer>
