<!-- Header -->
<div class="mobile-toggle">
  <span></span>
  <span></span>
  <span></span>
</div>
<header class="header-home header">
  <a class="header__studio-name" href="index.html">Half Helix</a>
  <nav class="header__nav">
    <ul>
      <li>
        <a href="projects.html">Projects</a>
      </li>
      <li>
        <a href="studio.html">Studio</a>
      </li>
      <li>
        <a href="#">Careers</a>
      </li>
      <li>
        <a href="contact.html">Contact</a>
      </li>
    </ul>
  </nav>
</header>
