.careers {
  .hero-section__banner h1 {
    letter-spacing: 0.08375em;
  }
}

.vacancy-list {
  padding-top: 80px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
}

.vacancy-item {
  margin-bottom: 60px;
  flex-basis: 45%;
  padding: 30px 30px 60px;
  background: $light-grey;
  // letter-spacing: 0.2em;
  border-bottom: 20px solid $blue;
  p {
    font-size: rem(18);
  }
  @include breakpoint(extra-small) {
    padding: 30px 15px 60px;
    border-bottom-width: 15px;
  }
}


.vacancy-area {
  font-size: rem(18);
  font-family: $ff-bold;
}

.vacancy-title {
  font-family: $ff-serif;
  font-size: rem(38);
}

.vacancy-readmore {
  display: inline-block;
  margin-top: 40px;
  padding-bottom: 0em;
  font-size: rem(18);
  font-family: $ff-bold;
  border-bottom: 0.5em solid $blue;
}


.careers-perks {
  text-align: center;
  padding: 80px 0;
  h2 {
    font-family: $ff-serif;
    font-size: rem(60);

  }
  p {
    font-size: rem(18);


  }
  @include breakpoint(extra-small) {
    h2 {
      font-size: rem(40);
    }

  }
}

.perks-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.perks-item {
  padding: 20px;
  margin-top: 40px;
  flex-basis: 30%;
  height: 400px;
  display: flex;
  flex-direction: columns;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 20px solid $blue;
  background: $light-grey;
  overflow: hidden;
  p {
    color: #fff;
  }
  &:hover {
    .perks-descr {
      opacity: 1;
    }
  }
  @include breakpoint(extra-small) {
    padding: 15px;
    border-bottom-width: 15px;
  }

}

.perks-title {
  font-family: $ff-serif;
  font-size: rem(32);
}


.perks-descr {
  padding: 20px;
  display: flex;
  flex-direction: columns;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 0;
  top: 0;
  transition: 0.33s;
  background: $blue;
  @include breakpoint(extra-small) {
    padding: 15px;
  }
}

@include breakpoint(small) {
  .vacancy-item, .perks-item {
    flex-basis: 100%;
  }
}
