.btn {
  padding: 10px 50px;
  font-size: rem(16);
  color: $light-grey;
  display: inline-block;

  &:hover {
    background-color: transparent;;
    transition: color .4s ease-in-out, background-color .4s ease-in-out;
    cursor: pointer;
  }
}

.grey {
  border: 4px solid $dark-grey;
  background-color: $dark-grey;

  &:hover {
    background-color: transparent;
    color: $dark-grey;
  }
}

.blue {
  border: 4px solid $blue;
  background-color: $blue;

  &:hover {
    background-color: transparent;
    color: $blue;
  }
}

.white {
  border: 4px solid $white;
  background-color: transparent;

  &:hover {
    background-color: $white;
    color: $blue;
  }
}
