.btn {
  padding: 10px 50px;
  font-size: rem(16);
  color: $light-grey;
  display: inline-block;

  &:hover {
    background-color: transparent;;
    transition: color .4s ease-in-out, background-color .4s ease-in-out;
    cursor: pointer;
  }
}

.grey {
  border: 3px solid $dark-grey;
  background-color: $dark-grey;

  &:hover {
    background-color: transparent;
    color: $dark-grey;
  }
}

.blue {
  border: 3px solid $blue;
  background-color: $blue;

  &:hover {
    background-color: transparent;
    color: $blue;
  }
  
  &.transparent {
    border: 3px solid #fff;
    background-color: transparent;
    letter-spacing: 0.075em;1
    &:hover {
      background-color: $blue;
      color: #fff;
    }
  }

}

.white {
  border: 2px solid $white;
  background-color: transparent;

  &:hover {
    background-color: $white;
    color: $blue;
  }
}

.btn-link {
  padding: 0;
  color: $dark-grey;
  border-bottom: 0.4em solid $blue;
}


