.call-to-action {
	background: $bg-color-secondary;
	margin-top: 100px;
	font-family: Apercu-Medium;
	height: 175px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 24px;
	@include breakpoint(extra-small) {
	    height: 80px;
	}
}

.call-to-action__title {
	margin-bottom: 0;
	font-size: rem(24);
	line-height: 1;
	letter-spacing: 0.4em;
	font-family: $ff-base;
	@include breakpoint(small) {
	    letter-spacing: 0.125em;
	}
	@include breakpoint(extra-small) {
	    font-size: 3.75vw;
	    letter-spacing: 0.05em;
	    font-family: $ff-bold;
	}
}
