.click-to-action {
	background: $blue;
	text-align: center;
	padding: 60px 24px;
	.btn {
		padding: 10px 20px;
		// max-width: 300px;
	}
	@include breakpoint(extra-small) {
		padding: 40px 20px;
		.btn {
			font-size: rem(12);
		}
	}
}
