.content-wrapper {
    margin: 0 24px;
    @include breakpoint(extra-small) {
  		margin: 0 10px;
    }
}

main {
  padding: 0 24px;
  @include breakpoint(extra-small) {
    padding: 0 20px;
  }
}

.span-to-screen {
  margin: 0 -24px;
  @include breakpoint(extra-small) {
    margin: 0 -20px;
  }
}