.contact-info {
    position: fixed;
    top: 25vh;
    left: 50%;
    z-index: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 45vh;
    margin-left: -150px;
    text-align: center;

    h2 {
        margin-bottom: 10px;
        font-family: $ff-serif;
        font-size: rem(30);
        letter-spacing: $base-letter-spacing;
    }
}


.contact-section {
    margin: 0 -24px;
    @include clearfix;
    .map-widget {
        width: 50%;
        float: left;
        z-index: -1;
    }
}
.contact-section__text {
    float: right;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: $white;
    h3 {
        margin-bottom: 1.5em;
        letter-spacing: $base-letter-spacing;
    }
    p {
        font-family: $ff-base;
        margin-bottom: 0;
        color: #181818;
    }
}

@include breakpoint(small) {
    .contact-section {
        margin: 0 -10px;
        .map-widget, .contact-section__text {
            float: none;
            width: 100%;
        }
    }
}



.marker-label {
    border: 3px solid #004EDD;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
    &.animate {
        animation: pulse 1s ease 3;
    }
    &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
    }
    &:before {
        width: 35px;
        height: 35px;
        background: #fff;
        border: 3px solid #004EDD;
    }
    &:after {
        width: 16px;
        height: 16px;
        background: #004EDD;
    }
}



@keyframes pulse {
  40% {
    transform: scale(0.25);
  }
  100% {
    transform: scale(1);
  }
}
