

.contact-info {
    position: fixed;
    top: 25vh;
    left: 50%;
    z-index: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 45vh;
    margin-left: -150px;
    text-align: center;

    h2 {
        margin-bottom: 10px;
        font-family: $ff-serif;
        font-size: rem(30);
        letter-spacing: $base-letter-spacing;
    }
}


.contact-section {

    @include clearfix;
    .map-widget {
        width: 50%;
        float: left;
    }
}
.contact-section__text {
    float: right;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: $white;
    h3 {
        margin-bottom: 1.5em;
        letter-spacing: 0.125em;
        font-family: $ff-base;
        font-size: rem(24);
        color: #181818;
    }
    p {
        font-family: $ff-base;
        margin-bottom: 0;
        color: #181818;
        font-size: rem(18);
    }
}

@include breakpoint(small) {
    .contact-section {
        .map-widget, .contact-section__text {
            float: none;
            width: 100%;
        }
    }
}



.marker-label {
    border: 2px solid $blue;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
    &.animate {
        animation: pulse 1s ease 3;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
    }

    &:after {
        width: 22px;
        height: 22px;
        background: $blue;
    }
}



@keyframes pulse {
  40% {
    transform: scale(0.25);
  }
  100% {
    transform: scale(1);
  }
}
