.footer {
    padding: $vertical-spacing 0 $vertical-spacing 0;
    background-color: $light-grey;
    font-size: rem(12);
    @include breakpoint(extra-small) {
        padding: 20px;
    }
    .col {
      width: 33%;
      &:not(:last-child) {
        margin-bottom: 50px;
      }
      @include breakpoint(extra-small) {
          width: 100%;
      }
    }

    &-contact {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
      padding: 0 0 $vertical-spacing 0;
      @include breakpoint(extra-small) {
          display: block;
      }
      h3 {
        font-size: rem(16);
        font-family: $ff-base;
      }

      p {
        font-size: rem(12);
      }

      a {
        border-bottom: 1px solid $dark-grey;
        padding-bottom: 1px;
      }
    }

    &-form {
      width: 50%;
      max-width: 700px;
      margin: 0 auto;
      padding: 0 0 $vertical-spacing 0;
      @include breakpoint(extra-small) {
          width: auto;
      }
    }

    &-label {
      text-align: center;
      font-size: rem(16);
      padding: 10px 0 20px 0;
      text-transform: uppercase;
    }

    &-input {
      display: flex;
      flex-direction: row;
      input[type="text"] {
        @include placeholder-color($blue);
      }
      input[type="submit"] {
        flex-basis: 30%;
      }
      @include breakpoint(extra-small) {
          flex-direction: column;
          input[type="text"] {
            text-align: center;
          }
          input[type="submit"] {
            flex-basis: auto;
            border: 0;
          }
      }
    }

    &-social {
      display: flex;
      justify-content: center;

      li {
        display: inline;
        text-align: center;
        margin: 0 5vw;
        border-bottom: 1px solid $dark-grey;
        padding-bottom: 1px;
      }
    }
}
