.header {
    position: fixed;
    z-index: 600;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 24px;
    letter-spacing: rem(1.2);
    background: transparent;
    border-bottom: 1px solid transparent;
    transition: 0.6s;
    
    @include breakpoint(extra-small) {
        padding: 10px 20px;
    }
    
    .header__studio-name {
        color: #fff;
        font-family: $ff-base;
        transition: 0.6s;
        float: left;
        .home & {
            opacity: 0;
        }

        @include breakpoint(small) {
            font-size: rem(14);
        }


        &.anchor-js {
            cursor: url("../images/arrow-top.png"), s-resize;
            @include breakpoint(small) {
                font-size: rem(18);
            }

        }
    }

    .header__nav {
        width: 450px;
        float: right;
        ul {
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            list-style: none;



            a {
                transition-duration: 0.6s;
                transition-property: color;
                color: #fff;
                transition: .4s ease-in-out;
                @include breakpoint(small) {
                    font-size: rem(14);
                }
            }

            a:hover, a:active, a.active {
                text-decoration: line-through;
            }
        }
    }

    
}

.header-dark {
    background: #fff;
    border-bottom-color: $dark-grey;
    .header__studio-name {
        color: $dark-grey;
        .home & {
            opacity: 1;
        }
    }
    .header__nav {
        ul {
            a {
                color: $dark-grey;
            }
        }
    }
}

@include breakpoint(extra-small) {

    .header__nav {
        width: auto !important;
        position: fixed;
        width: 100% !important;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
        background: #fff;
        display: none;
        padding: 0;
        z-index: 998;
        ul {
            display: block !important;
            a {
                color: $brand-color !important;
                display: block;
                text-decoration: none;
                padding: 10px 20px;
                font-size: 1rem;
            }
        }
    }



}
