.hero-section {
    @extend .full-screen-section;

    overflow: hidden;
    background-image: linear-gradient(123deg, #6dabf3, #3b73e2);
    color: #fff;
    position: relative;


    .home & {
      position: relative;
      svg {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90%;
        max-height: 90%;
        position: absolute;
        z-index: 1;
        g, text, path {
          fill: #74A3EE;
          stroke: #74A3EE;
        }
      }
    }

    &.third {
      @extend .third-screen-section;

    }

    a {
        color: #fff;
        display: inline-block;
        padding: 0 0;
        @include breakpoint(small) {
          font-size: rem(18);
        }
        @include breakpoint(extra-small) {
          font-size: rem(18);
        }
    }

    &__paralax-block {
        @extend .full-screen-section;

        &.third {
          @extend .third-screen-section;
        }

        position: relative;
        z-index: 400;
        will-change: transform;
        transition-property: opacity;
        transition-duration: 1s;

        &.hidden {
            opacity: 0;
        }
    }

    &__email {
        position: absolute;
        top: 20px;
        left: 24px;
        z-index: 200;
        font-style: normal;
        text-decoration: underline;
        letter-spacing: 0.075rem;
        @include breakpoint(extra-small) {
            left: 20px;
            top: 10px;
        }
        &:hover {
            text-decoration: line-through;
        }
        a {
          padding: 0;
          @include breakpoint(small) {
            font-size: rem(14)
          }
          @include breakpoint(extra-small) {
            font-size: rem(14)
          }
        }
        .third & {
          text-decoration: none;
        }
    }

    &__banner {
        @extend .v-align;

        width: 80%;
        margin: 0;
        padding: 0 10%;
        text-align: center;
        @include breakpoint(small) {
           width: auto;
           padding: 0 24px;
        }
        @include breakpoint(extra-small) {
          padding: 0 10px;
        }

        h1 {
          font-size: rem(120);
          font-family: $ff-base;
          color: $white;
          font-style: normal;
          margin-bottom: 0em;
          font-weight: bold;
          font-family: $ff-serif;
          font-weight: normal;

          @include breakpoint(small) {
            font-size: rem(110);
          }
          @include breakpoint(extra-small) {
            font-size: 11vw;
          }


           .third & {
             font-size: rem(50);
             line-height: 1.25;
             letter-spacing: 0;
             color: #fff;
             text-transform: none;
             @include breakpoint(small) {
                font-size: rem(45);
             }
             @include breakpoint(extra-small) {
                 font-size: 7vmin;
                 padding: 0 10px;
             }
           }
        }

        h3 {
            margin-bottom: rem(40);;
            font-family: $ff-base;
            font-size: rem(20);
            font-style: normal;
            letter-spacing: rem(2.5);
            font-weight: normal;
            color: #fff;
            // font-weight: 600;
            @include breakpoint(small) {
              padding: 0 24px;
            }
            .third & {
              font-size: rem(16);
              padding: 20px 0;
              margin-bottom: 1em;
              letter-spacing: 0.1em;
              @include breakpoint(small) {
                 font-size: rem(20);
              }
              @include breakpoint(extra-small) {
                  font-size: 5vmin;
                  padding: 0 10px;
              }

            }
        }
    }

  & &__anchor {
    position: absolute;
    bottom: 1.5em;
    height: 72px;

    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    white-space: nowrap;
  }

  &.big {
      .hero-section__banner h1 {
          font-size: rem(80);

          @include breakpoint(small) {
              font-size: rem(45);
          }
      }
      .hero-section__banner p {
          a {
              font-size: rem(40);
              font-family: $ff-bold;
              line-height: 1.75;
              border-bottom: 2px solid #fff;
              @include breakpoint(small) {
                  font-size: rem(22);
              }
          }
      }
  }
}
