

.studio-section {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include breakpoint(small) {
      padding: 50px 0;
  }
  @include breakpoint(extra-small) {
      padding: 40px 0;
  }
  h1 {
    margin-bottom: 0.5em;
    font-size: rem(60);
    text-align: center;
    font-family: $ff-serif;
    font-style: normal;
    @include breakpoint(extra-small) {
        font-size: 7vmax;
    }
  }


}
// What We Do
&.what-we-do {
  background-color: #F2F2F2;
  @include breakpoint(small) {
    padding-left: 15px;
    padding-right: 15px;
  }

  .img-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 80px;
    @include breakpoint(small) {
      display: block;
    }
  }
  .what-we-do__item {
    text-align: center;
    min-width: 320px;
    padding: 0 50px;
    flex-basis: 20%;
    @include breakpoint(small) {
        padding: 0;
        min-width: 0;
        & + .what-we-do__item {
          margin-top: 5vh;
        }
    }
    img {
      padding: 20px 8%;
    }
    h2 {
      font-size: rem(24);
    }
    p {
      color: #222222;
      font-size: rem(14);
    }
  }
}

// How We Do it
.principles {

    .tile-row {
        height: 370px;
    }
    .tile-image {
        flex-basis: 45%;
    }
    .tile-text {
        flex-basis: 55%;
        text-align: left;
        align-items: flex-start;
        h3 {
          margin-bottom: 0.25em;
          padding-bottom: 0.12em;
          color: #181818;
          border-bottom: 0.2em solid $blue;
          font-size:  rem(32);
          &:after {
            display: none;
          }
        }
        p {
          font-size: rem(18);
        }
    }
    @include breakpoint(small) {
      .tile-row {
        display: flex;
        height: 70vmax;
        flex-direction: column;
      }
      .tile-image {
        order: 2;
        position: static; 
      }
      .tile-text {
        order: 1;
        position: static;
      }
    }
    @include breakpoint(extra-small) {
      .tile-row {
        height: auto;
      }
      .tile-image {
        height: 100vmin;
      }
      .tile-text {
        padding: 15px;
      }

    }

}
