.container {
  max-width: 1440px;
  margin: 0 auto;
}

.studio-section {
  padding: 100px;
  display: flex;
  align-items: center;
  @include breakpoint(small) {
      padding: 50px;
  }
  @include breakpoint(extra-small) {
      padding: 40px 10px;
  }
  h1 {
    font-size: rem(45);
    text-align: center;
    font-family: $ff-bold;
    font-style: normal;
  }


}


// What We Do
&.what-we-do {
  background-color: #F2F2F2;
  .img-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    @include breakpoint(small) {
        flex-direction: column;
    }
  }
  .what-we-do__item {
    text-align: center;
    @include breakpoint(small) {
        & + .what-we-do__item {
          margin-top: 5vh;
        }
    }
    img {
      padding: 20px 8%;
    }
  }
}




// How We Do it
&.how-we-do-it {

  &__wrapper {
    margin: 0 auto;
    padding-top: 50px;
  }

  &__row {
    width: 100%;
    padding-bottom: $vertical-spacing;
    @include clearfix;
    @include breakpoint(small) {
      &+& {
        // margin-top: 50px;
      }
    }
    &:nth-child(2n+1) {
      .how-we-do-it__text {
        float: right;
        @include breakpoint(small) {
          float: none;
        }
      }
    }
  }

  &__text {
    background-color: #F2F2F2;
    height: 450px;
    padding: 0 50px 0;
    text-align: left;
    box-sizing: border-box;
    float: left;
    width: 55%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include breakpoint(small) {
        width: auto;
        float: none;
    }
    @include breakpoint(extra-small) {
      padding: 20px 10px;
      height: auto;
    }
    h3 {
      font-family: $ff-bold;
      font-size: rem(26);
      font-style: normal;
      margin-bottom: 0;
    }
    p {
      margin: 1em 0 0 0;
    }

  }

  &__image {
    background-color: $blue;
    float: left;
    width: 45%;
    height: 450px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint(small) {
        width: auto;
        float: none;
    }
    @include breakpoint(extra-small) {
      height: auto;
    }
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

}
