.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: $vertical-spacing;
  @include breakpoint(small) {
    display: block;
  }
}

.tile {

  &-row {
    display: flex;
    margin-bottom: $vertical-spacing;
    height: 500px;
    @include breakpoint(small) {
      height: 70vh;
      position: relative;
      display: block;
    }
    @include breakpoint(extra-small) {
      // height: 50vh;
      // height: 600px;
    }
  }

  &-image {
    flex-basis: 60%;
    height: 100%;
    background: $blue;
    img {
      height: 500px;
      width: 100%;
      object-fit: cover;
    }
    @include breakpoint(small) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

  }

  &-text {
    flex-basis: 40%;
    background-color: $light-grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding: 30px;

    .btn {
      margin-top: 20px;
      font-size:  rem(12);
      padding: 10px 30px;
      span {
        margin-left: 2em;
      }
    }

    h3 {
      font-family: $ff-serif;
      font-size: rem(48);
      margin: 0;
      padding-bottom: 0.4em;
      position: relative;
      .projects &:after {
        content: "";
        display: block;
        width: 40%;
        position: absolute;
        height: 0.14em;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        background: $dark-grey;
      }
    }
    p {
      margin: rem(20) 0 rem(20) 0;
      font-size: rem(12);
    }

    @include breakpoint(small) {
      position: relative;
      z-index: 2;
      background: rgba($light-grey, 0.75);
    }
  }

  &-half {
    width: 48%;
    display: flex;
    flex-direction: column;
    @include breakpoint(small) {
      flex-basis: 100%;
      width: 100%;
    }
  }

  &-title {
    width: 100%;
    background-color: $light-grey;
    padding: 10px 20px;

    h2 {
      font-family: $ff-serif;
      margin-bottom: .4em;
    }

    p {
      margin-bottom: .0em;
    }
  }
}

.tile-list {
  padding: 80px 0 60px 0;

  &__more {
    display: flex;
    justify-content: center;
    padding: $vertical-spacing 0;
    .btn {
      font-size: rem(12);
    }
  }
}



// Homepage tiles
.home {
  .tile {
    &-list {
      padding: 50px 0;
      background: #fff;
    }
    &-row {
      min-height: 768px;
      margin-bottom: 15vh;
      @include breakpoint(extra-small) {
        min-height: 0;
        height: auto;
      }
    }
    &-image {
      background: #fff;
      padding: 0;
      flex-basis: 70%;
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    &-text {
      padding: 30px;
      padding-left: 0;
      flex-basis: 30%;
      min-width: 600px;
      text-align: inherit;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      z-index: 2;
      background: #fff;

      &.right {
        padding-right: 0;
        padding-left: 30px;
        align-items: flex-end;
        text-align: right;
      }
      @include breakpoint(small) {
        background-color: rgba(255,255,255, 0.7);
        padding-left: 30px;
        &.right {
          padding-right: 30px;
        }
      }

      @include breakpoint(extra-small) {
        min-width: 0;
        padding: 20px;
        &.right {
          padding: 20px;
        }
      }
      .client {
        margin: 0;
        font-size: 1.2rem;
        font-family: $ff-bold;
      }
      h3 {
        // margin-bottom: 35px;
        font-size: 4vmin;
        @include breakpoint(extra-small) {
            font-size: 7vmin
        }
        a {
          color: $blue;
          border-bottom: 0.2em solid $blue;
          padding-bottom: 0.1em;
          line-height: 1.75;
        }
      }
      p {
        font-size: 1rem;
      }
      .btn-link {
        margin-top: 0;
        font-size: 1rem;
        padding: 0;
      }

    }
  }
}


.hidden-projects {
  display: none;
}
